/* :root {
  --pink-primary: #f296cd;
  --background-primary: #fbe2f2;
  --link-purple-primary: #6e144a;
} */

@font-face {
  font-family: pixelboy-BFarnaz;
  src: url(components/font/pixelboy-BFarnaz.eot);
  src: url(components/font/pixelboy-BFarnaz.eot)
      format("pixelboy-BFarnaz-opentype"),
    url(components/font/pixelboy-BFarnaz.woff) format("woff"),
    url(components/font/pixelboy-BFarnaz.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-size: 17px;
  font-family: "pixelboy-BFarnaz";
}

.ar {
  text-align: right;
}
