<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" aria-current="page" href="index.php">
            <img src="components/image/header.png" class="img-fluid" style="height: 80px; width: 240px" alt="header">
        </a>
        <div class="d-flex">
            <a href="news.php" class="btn btn-primary btn-sm" tabindex="-1" role="button">
                login
            </a>
        </div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>